 .hidden{
    display: none;
 }

 body{
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(135deg,#ff9ecf, #ffc3e6, #ffe6f5);
    background-size: 300% 300%;
    animation: gradienrMove 8s ease infinite;
 }

 @keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
 }

 .container{
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 105, 180, 0.3);
    text-align: center;
 }

 .h1{
    color: #ff4da6;
    text-shadow: 0 0 10px rgba(255, 77, 166, 0.4);
 }
 .button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff69b4;
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
 }